.view-post {
    position: relative;
    padding: 0 20px;

    .like {
        position: absolute;
        top: 0;
        right: 131px;
    }

    .post-link {
        position: absolute;
        top: 0;
        right: 20px;
    }
}