.post-list {
    position: relative;
    
    .list-group-item {
        margin: 15px;
        padding-bottom: 30px;
    }

    .like {
        position: absolute;
        top: 19px;
        right: 131px;
    }

    .post-link {
        position: absolute;
        top: 22px;
        right: 20px;
    }
}